.success{
    background-color: tomato;
    color: black;
}

.error{
    background-color: lightgreen;
    color: black;
}

.warning{
    background-color: lightcoral;
    color: black;
}

.navlink{
    margin-right: 10px;
}